<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Thanks for joining SENDIT! <%= @user.first_name %>!</p>
    <p>
    User details<br>
    --------------------------
    </p>
    <p>First Name: <%= @user.first_name %></p>
    <p>Last Name: <%= @user.last_name %></p>
    <p>Email: <%= @user.email %></p>
    <p>Phone: <%= @user.phone_number %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p>On behalf of SENDIT management, we hope you will enjoy using our platform.</p>
  </body>
</html>